<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577776583897-ftu54b41elhgvk15lfbf55j9d9q5olv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577776583897-ftu54b41elhgvk15lfbf55j9d9q5olv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1OZljuPikkqPw5_PUWQlV0bzWeJOOkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>577776583897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adacapstone.VAYCAY</string>
	<key>PROJECT_ID</key>
	<string>vaycay-856fe</string>
	<key>STORAGE_BUCKET</key>
	<string>vaycay-856fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577776583897:ios:1ed4232da91de5f8526ac8</string>
</dict>
</plist>